services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - DEBUG=True
      - PYTHONPATH=/usr/share/sumo/tools
    
    tty: true
    stdin_open: true